<h2>Products</h2>
<div *ngFor="let product of products">

	<a [title]="product.name">{{product.name}}</a>
	<div *ngIf="product.description">
		<p>
			{{product.description}}
		</p>
		<button (click)="share()">Share</button>
	</div>

	<app-product-alertscomponent [product]="product">
	</app-product-alertscomponent>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->